
/* CSS 초기화 */
*{
    margin: 0px;
    padding: 0px;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

.box1{
    width: 300px;
    height: 300px;
    background: blue;
    margin: 100px;
    float: left;
    box-shadow: 10px 10px 30px black; /* 가로축값, 세로축값, 블러수치, 색 */
}

.box2{
    width: 300px;
    height: 300px;
    background: red;
    margin: 100px;
    float: left;
    box-shadow: -20px -20px 0px pink;
}

p{
    font-weight: bold;
    font-size: 100px;
    font-family: "arial";
    color: #111;
    margin: 100px;
    text-shadow: 30px 30px 10px #aaa;
}