@charset "utf-8";

/* 
    이렇게 css를 주석으로 묶어서
    설명글을 넣거나 특정 css 코드를 비활성화 할 수 있다. (ctrl + /)
*/

/* 예제1
*{  /* *는 모든 html 요소 선택  
    border: 1px solid red;
} */

/* 예제2
h1{
    border: 1px solid red;
}

h2{
    border: 1px solid green;
}

h3{
    border: 1px solid blue;
}  */

/* 예제3 
p strong{
    border: 1px solid blue;
} */

/* 예제4
ul > li{
    border: 1px solid blue;
}
> 를 입력하면 바로 밑에 자식까지만, 없으면 안쪽 li까지 전부 효과 적용 */

/* 예제5
h1, h2, h3{
    border: 1px solid blue;
} */

/* 예제6
ul li:nth-of-type(1){
    border: 1px solid red;
}

ul li:nth-of-type(2){
    border: 1px solid green;
}

ul li:nth-of-type(3){
    border: 1px solid blue;
}

ul li:nth-of-type(4){
    border: 1px solid violet;
} */

/* 예제7
ul li:nth-of-type(2n){
    border: 1px solid blue;
}
2n을 입력하면 2의 배수번째 요소만 선택한다.
2n-1를 입력하면 홀수번째 요소만 선택한다.
이걸 수열선택자 라고 한다.
odd는 훌수 선택, even은 짝수 선택*/

/* ul li:last-child{
    border: 1px solid blue;
} */

/* 예제8
input[type="text"]{
    border: 1px solid blue;
}

input[type="password"]{
    border: 1px solid red;
} */

/* 예제9
h1{
    border: 1px solid blue;
}

h1:hover{
    border: 1px solid red;
}

가상 선택자
h1::before{
    content: "before content";
    color: blue;
}

h1::after{
    content: "after content";
    color: red;
} */

/* 예제10
.text1{
    border: 1px solid blue;
}

.text2{
    border: 1px solid red;
} */

/* 예제11
#header{
    border: 1px solid red;
}

#section{
    border: 1px solid green;
}

#footer{
    border: 1px solid violet;
} */