/* css 초기화 */
*{
    margin: 0px;
    padding: 0px;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
}

article{
    width: 200px;
    height: 200px;
    background: pink;
    margin: 8px auto;
}

@media screen and (max-width: 900px){
    article{
        background: orange;
    }
}

@media screen and (max-width: 400px){
    article{
        background: aqua;
    }
}