
*{
    margin: 0px;
    padding: 0px;
}

main{
    width: 100%;
    height: 100vh;
    background: lightcyan;
}

section{
    border: 10px solid blue;
    display: flex; /* 가로 정렬 */
    /* flex = 자식 요소를 inline-block으로 강제로 변화시켜준다.
    inline-flex = 부모 자식 모두 강제로 변화 */
    flex-direction: row;
    /* 이 값을 지정하지 않으면 기본 값 가로(row = 행)
    세로 설정(column = 열)*/
    flex-wrap: wrap;
    /* 크기를 줄이면 줄바꿈 */
    /* flex-flow: row wrap; */
    /* 위 코드로 한번에 지정할 수도 있다. */
}

section article{
    width: 100px;
    height: 100px;
    background: aqua;
    border: 1px solid #000;
}